<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CountryList.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CE42DCBA22D207B00061A79D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CE42DCCE22D207B10061A79D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CE42DCD922D207B20061A79D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
